/*================= 5. HOME ==================*/
@import 'header';
@import 'footer';
/*================= 5.1 BANNER SECTION ==================*/
.homeBanner{
	min-height: 624px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

}
.banerInfo{
	width: 100%;
	text-align: center;
	padding-top: 50px;
	@include tablet{
		padding-top: 160px;
	}
	h1{
		color: $white-color;
		margin: 0 0 24px 0;
		font-weight: 500;
		font-size: 45px;
	}
	p{
		font-size: 16px;
		color: $white-color;
		font-size: 16px;
		margin: 0 0 60px 0;
	}
	.btn-primary{
		padding:18px 30px;
		width: 100%;
		@include tablet{
			width: auto;
		}
		i{
			margin: 0;
		}
	}
	.form-control{
		height: 50px;
		border: none;
		color: $secondary-color;
	}
	.input-group-addon{
		background-color: $white-color;
		border-radius: 4px 0 0 4px;
		border: none;
		border-right: 1px solid $border-color;
		padding: 6px 22px;
		color: $title-color;
		&.addon-right{
			border-radius: 0 4px 4px 0;
			border: none;
			padding: 6px 20px;
		}
		i.icon-listy{
			color: $primary-color;
	    font-weight: 700;
		}
	}
	.form-group{
		width: 100%;
		margin: 0 0 20px 0;
		@include tablet{
			width: 35%;
			margin: 0 10px 0 0;
		}
		@include desktops{
			width: 360px;
			margin: 0 20px 0 0;
		}
	}
	.input-group{
		width: 100%;
	}
}

/*=== 5.8 SEARCH BROWSE SECTION ===*/
.filterProtfolio{
	padding: 50px 0;
	@include tablet{
		padding: 100px 0 85px 0;
	}
}
.bg-search{
	margin: -170px 0 100px 0;
	background-color: #373c48;
	border-radius: 4px;
	position: relative;
	width: 100%;
	z-index: 500;
	padding: 15px;
	@include tablet{
		padding: 20px 15px;
	}
	@include desktops{
		padding: 45px 40px;
	}
	.form-group{
		display: inline-block;
		width: 100%;
		margin: 10px 0;
		@include tablet{
			width: 21%;
			margin: 0;
		}
		input{
			width: 100%;
		}
		button{
			width: 100%;
			height: 50px;
			i.fa{
				margin: 0;
			}
		}
	}
	.form-inline{
		display: block;
		@include tablet{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-justify-content: space-between;
			justify-content: space-between;
		}
		.form-group:last-child{
			width: 100%;
			@include tablet{
				width: 12%;
			}
		}
	}
}
.categoryBox{
	border-radius: 4px;
	border: 1px solid $border-color;
	padding: 15px;
	margin: 15px 0;
	@include tablet{
		padding: 35px 30px;
		margin: 0;
	}
	h2{
		text-transform: capitalize;
		font-weight: 400;
		padding-bottom: 15px;
		border-bottom: 1px solid $border-color;
		margin: 0 0 15px 0;
		font-size: 24px;
		@include tablet{
			margin: 0 0 30px 0;
			font-size: 18px;
		}
		@include desktops{
			font-size: 24px;
			margin: 0 0 30px 0;
		}
		a{
			font-size: 13px;
			color: $secondary-color;
			float: right;
			font-family: 'Muli', sans-serif;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.listCategory{
	width: 100%;
	display: block;
	@include tablet{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
    flex-flow:row wrap;
	}
	li{
		margin: 10px 0;
		width: 49%;
		@include desktops{
			width: 33%;
		}
		a{
			color: $secondary-color;
			font-size: 14px;
			&:hover{
				text-decoration: underline;
				color: $primary-color;
			}
		}
	}
}

/*=== 5.8.1 SEARCH BROWSE SECTION ===*/
.bg-search-white{
	margin: 0;
	background-color: #fff;
	position: absolute;
	width: 100%;
	z-index: 500;
	padding: 15px;
	border: 2px solid rgba( 33, 150, 243, 0.3 );
	box-shadow: 0px 0px 20px 0px rgba( 0, 0, 0, .3);
	bottom: 130px;
	left: 50%;
	transform: translate(-50%);
	@include tablet{
		padding: 20px;
		bottom: 185px;
	}
	@include desktops{
		padding: 25px;
		bottom: 160px;
	}
	.form-group{
		display: inline-block;
		width: 100%;
		margin: 10px 0;
		@include tablet{
			width: 28.3%;
			margin: 0;
		}
		input{
			width: 100%;
		}
		button{
			width: 100%;
			height: 50px;
			i.fa{
				margin: 0;
			}
		}
		.form-control{
			height: 50px;
			line-height: 50px;
			border-radius: 0;
			background-color: $bg-lisht-gray;
		}
		.searchSelectbox{
			.sbHolder{
				height: 50px !important;
				line-height: 50px;
				background-color: $bg-lisht-gray;
				border: 1px solid rgb( 231, 231, 231 );
				border-radius: 0;
				.sbToggle{
					height: 44px;
			    right: 2px;
			    top: 2px;
			    width: 46px;
			    background: #f0f0f0;
					&:before{
						font-family: 'FontAwesome';
 						content: '\f063';
						padding-left: 18px;
					}
				}
			}
			.sbSelector{
				line-height: 50px;
				height: 50px !important;
			}
		}
		.btn-primary{
			height: 50px;
			border-radius: 0;
			letter-spacing: 3px;
		}
	}
	.form-inline{
		display: block;
		@include tablet{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-justify-content: space-between;
			justify-content: space-between;
		}
		.form-group:last-child{
			width: 100%;
			@include tablet{
				width: 12%;
			}
		}
	}
}

/*=== 5.12 CATEGORY SEARCH SECTION ===*/
.searchArea{
	padding: 30px 0;
	background-color: #373c48;
	&.banerInfo{
		.form-group{
			width: 100%;
			margin: 12px 0;
			@include tablet{
				margin: 0;
			}
		}
		.input-group-addon{
			background-color: transparent;
			border: 1px solid rgba($border-dark, .5);
			color: #a8afba;
			&.addon-right{
				border-left: none;
				padding: 6px;
				@include desktops{
					padding: 6px 20px;
				}
			}
		}
		.form-control{
			background-color: transparent;
			border: 1px solid rgba($border-dark, .5);
			border-right: none;
			border-left: none;
			color: #a8afba;
			&.searchSelect{
				border: 1px solid #a8afba;
				border-left: none;
			}
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #a8afba;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: #a8afba;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: #a8afba;
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: #a8afba;
			}
		}
		.searchPart{
			width: 100%;
			margin: 12px 0;
			@include tablet{
				margin: 0;
			}
		}
		.searchPartInner{
			width: 100%;
		}
		.searchPartTitle{
			background-color: transparent;
			border-radius: 4px 0 0 4px;
			border: 1px solid rgba($border-dark, .5);
			padding: 0 30px;
			color: #a8afba;
			display: inline-block;
			width: 34%;
			height: 50px;
			float: left;
			line-height: 50px;
		}
		.searchBoxSelect, .searchSelectboxes{
			width: 66%;
			display: inline-block;
			float: left;
		}
	}
	&.searchAreaGray{
		background-color: #f5f5f5;
		.form-group{
			background-color: $white-color;
		}
		.input-group-addon, .form-control, .form-control.searchSelect{
			border-color: $border-color;
			color: $title-color;
		}
		.searchPartTitle{
			border-color: $border-color;
			color: $title-color;
			background-color: $white-color;
		}
	}
}
.searchBoxSelect{
	.sbHolder{
		border: 1px solid rgba($border-dark, .5);
		border-left: none;
	}
}
/*=== 5.13 CATEGORY SECTION ===*/
.categoryItem{
	border-radius: 4px;
	border: 1px solid $border-color;
	padding: 30px;
	margin: 15px 0;
	@include desktops {
		padding: 15px;
	}
	i.icon-listy{
		font-size: 42px;
		color: $secondary-color;
	}
	h2{
		font-weight: 400;
		font-size: 16px;
		text-transform: capitalize;
		margin: 0 0 10px 0;
	}
	.list-unstyled{
		li{
			margin: 7px 0;
			&:last-child{
				margin-bottom: 0;
			}
			a{
				color: $secondary-color;
				font-size: 14px;
				&:hover{
					color: $primary-color;
					text-decoration: underline;
				}
			}
		}
	}
}

/*=== 5.14 SERVICES SECTION ===*/
.servicesSection{
	padding: 0 0 50px 0;
	@include tablet{
		padding: 0 0 100px 0;
	}
}
.servicesItem{
	border: 1px solid $border-color;
	padding: 40px 0;
	border-radius: 4px;
}
.listServices{
	display: block;
	@include tablet{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
	}
	li{
		text-align: center;
		width: 100%;
		margin: 15px 0;
		@include tablet{
			width: 25%;
			margin: 0;
		}
	}
}
.servicesIcon{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 1px solid $border-color;
	margin: 0 0 15px 0;
	text-align: center;
	line-height: 100px;
	display: inline-block;
	i.icon-listy{
		font-size: 45px;
		color: $primary-color;
		line-height: 100px;
	}
}
.servicesInfo{
	h2{
		font-weight: 400;
		text-transform: capitalize;
		font-size: 20px;
		margin: 0 0 15px 0;
	}
	p{
		margin: 0;
	}
}

/*=== 5.15 CATEGORY GRID SECTION  ===*/
.resultBar{
	display: block;
	padding-bottom: 15px;
	margin-bottom: 25px;
	border-bottom: 1px solid $border-color;
	h2{
		color: $secondary-color;
		font-weight: 400;
		text-transform: capitalize;
		font-size: 15px;
		margin-bottom: 0;
		display: inline-block;
		span{
			font-weight: 500;
			color: $title-color;
		}
	}
	.list-inline{
		float: right;
		li{
			a{
				line-height: 33px;
				color: $secondary-color;
				&:hover{
					color: $primary-color;
				}
			}
			&.active{
				a{
					color: $primary-color;
				}
			}
		}
	}
	&.barSpaceAdjust{
		margin-bottom: 0;
	}
}

/*=== 5.16 CATEGORY LIST SECTION  ===*/
.listContent{
	padding: 30px 0;
	border-bottom: 1px solid $border-color;
}
.borderRemove{
	border: none;
}
.categoryImage{
	width: 100%;
	display: block;
	position: relative;
	.label{
		position: absolute;
		top: 10px;
		left: 10px;
		padding: 0 10px;
		height: 23px;
		line-height: 23px;
		font-size: 12px;
	}
}
.categoryDetails{
	h2{
		font-weight: 400;
		text-transform: capitalize;
		font-size: 24px;
		margin: 0;
	}
	p{
		margin: 0 0 15px 0;
	}
	.rating{
		margin-bottom: 2px;
		li{
			margin-left: -1px;
			i.fa{
				font-size: 10px;
			}
		}
	}
}
.likeCount{
	font-size: 14px;
	float: right;
	color: $secondary-color;
	i.fa{
		color: $primary-color;
	}
}
.placeName{
	color: $title-color;
}
.list-tag{
	li{
		padding: 0;
		a{
			color: $primary-color;
			&:hover{
				color: $primary-color;
			}
		}
	}
}
