/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  text-align: center;
  background-image: url('fast-food.jpg');
}

h1 {
  font-size: 60px;
  margin-bottom: 10px;
  color: #d21d0f;
  font-family: cursive;
}

form { 
  margin-bottom: 30px; 
}

#input {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

h2 { 
  font-size: 32px; 
}

h3 { 
  font-size: 28px; 
  color: #616161;
  font-family: Helvetica, sans-serif;
}

.results {
  width: 100%;
}

.itemBar {
  background-color: white;
  opacity: 0.8;
  transition: 0.2s;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-right: 7px solid #f4b775;
  border-top: thin solid #f4b775;
}

.itemBar:hover { opacity: 1; }