<div id="app">
  
  <h1><a href="/">Fast Finds</a></h1>

  <div>
    <h3>Find:<input v-model="restaurantFilter" list="restaurant"></h3>
  </div>
 
  <div>
    <h3>Near:<input v-model="locationFilter" list="location"></h3>
  </div>

  <div>
    <button v-on:click="Search">Search</button>

</div>

