<div>
  <h1>Fast Finds</h1>
  <%= form_tag "/", method: :get do %>
    <div>
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Find">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Near">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
  <% end %>

  <h3>Find whatcha cravin' for now at any fast-food chain!</h3>
  </div>  