
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FastFinds</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/pure-min.css">
</head>
  <body>
    <h1>Fast Finds</h1>

      <form class="pure-form" id="searchForm">
          <input type="text" class="pure-input-rounded" id="searchBar">
          <button type="submit" class="pure-button" onclick='searchValue()'>Search</button>
      </form>

      <div class="resultContainer"></div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='javascript.js'></script>
  </body>
</html>